@import url('https://fonts.googleapis.com/css?family=Poppins');
/* wichtigste Farben definieren */

:root {
    --purple: #5c258d;
    --blue: #4c669a;
    --lightblue: #4389a2;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    /* Hintergrund Verlauf fuer gaengiste Browser*/
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 20%, #ece9e6 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 20%, #ece9e6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: #ece9e6;
    /* Wenn nicht unterstuetz */
    background: radial-gradient(ellipse at center, #ffffff 20%, #ece9e6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ece9e6', GradientType=1);
    /* IE6-9 */
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 24px 24px auto auto 60%;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

#stripes {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    height: 24px;
    /* Farbverlauf #5c258d -> #4c669a -> #4389a2 */
    background: linear-gradient(to bottom, var(--purple) 0%, var(--purple) 33%, var(--blue), 33%, var(--blue) 66%, var(--lightblue) 66%, var(--lightblue) 100%);
}

#navi {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin-right: 30px;
    color: var(--lightblue);
    font-size: 13px;
    text-align: right;
    align-self: start;
}

#navi > ul {
    margin-bottom: 0px;
}

#navi > ul > li {
    padding-left: 5px;
    display: inline;
    list-style-type: none;
}

#navi > ul > li > button {
    color: var(--lightblue);
    border: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-smoothing: antialiased;
}

#navi > ul > li > a {
    color: var(--lightblue);
    text-decoration: none;
    font-smoothing: antialiased;
}

#navi > ul > li > a > img {
    padding-left: 5px;
    vertical-align: middle;
    height: 13px;
}

#logo {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    justify-content: center;
}

#logo > img {
    width: 100px;
    padding-bottom: 20px;
}

#notifications {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    width: 60%;
    border-radius: 8px;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    margin-top: 8px;
    overflow-y: scroll;
}

#bar {
    width: 100%;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    align-self: start;
    background-color: white;
    font-size: 13px;
    text-align: left;
    margin-bottom: 0px;
    padding: 12px 5px;
}

#bar > a {
    list-style-type: none;
    display: inline-block;
    padding: 12px 5px;
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--purple);
    background-color: var(--lightblue);
    text-decoration: none;
    font-smoothing: antialiased;
    font-size: 28px;
    text-align: center;
}

#bar > a[id=bar_home], [id=bar_profil] {
    width: 19.5%
}

#bar > a[id=bar_eigene] {
    width: 60.25%;
}

#content {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    padding-left: 5%;
    padding-right: 5%;
}

#content > table {
    border-collapse: collapse;
    width: 100%;
    align-content: center;
}

#content > table > tbody > tr[tag=spacer] {
    height: 10px;
    border: none;
}

#content > table > tbody > tr {
    background: white;
    border-collapse: collapse;
    border: 3px solid var(--purple);
    height: 20%;
}

#content > table > tbody > tr > td[tag=image] {
    width: 8%;
}

#content > table > tbody > tr > td[tag=info] {
    width: 20%;
}

#content > table > tbody > tr > td[tag=desc] {
    width: 60%;
}

