@charset "UTF-8";
#notifications {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  width: 60%;
  border-radius: 8px;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  margin-top: 8px;
  overflow-y: scroll; }

#navi {
  /* Popup container */
  /* Toggle this class when clicking on the popup container (hide and show the popup) */ }
  #navi input {
    background-color: lightskyblue;
    background-position: center;
    position: relative;
    width: 100px;
    height: 40px; }
  #navi .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* The actual popup (appears on top) */
    /* Popup arrow */ }
    #navi .popup .popuptext {
      visibility: hidden;
      width: 160px;
      background-color: #37b4d1;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      /*z-index: 1;
      bottom: 125%;
      left: 50%;*/
      margin-top: 5%;
      margin-left: -160px; }
    #navi .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent;
      /*#555*/ }
  #navi .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; }

#content {
  grid-area: main;
  padding-left: 3%;
  padding-right: 3%; }
  #content table {
    border-collapse: collapse;
    align-content: center;
    width: 100%;
    margin-top: 5%;
    /* My Änderung*/ }
    #content table tbody > tr[tag=spacer] {
      height: 20px;
      /*vorher 10*/
      border: none; }
    #content table tbody > tr[tag=name] > td {
      margin-left: 10%; }
      #content table tbody > tr[tag=name] > td a {
        color: black;
        text-decoration: none; }
    #content table tbody > tr[tag=party] {
      border-collapse: collapse;
      height: 20%;
      border-bottom: 2px solid var(--purple); }
      #content table tbody > tr[tag=party] td[tag=image] {
        width: 10%; }
        #content table tbody > tr[tag=party] td[tag=image] img {
          width: 60px; }
          @media (max-device-width: 450px) {
            #content table tbody > tr[tag=party] td[tag=image] img {
              width: 30px; } }
      #content table tbody > tr[tag=party] td[tag=info] {
        /*Abstufung der Zellenbreite, je nach Display, da Infos wichtiger sind als Beschreibung*/
        width: 50%; }
        @media (min-device-width: 400px) {
          #content table tbody > tr[tag=party] td[tag=info] {
            width: 40%; } }
        @media (min-device-width: 520px) {
          #content table tbody > tr[tag=party] td[tag=info] {
            width: 30%; } }
        @media (min-device-width: 700px) {
          #content table tbody > tr[tag=party] td[tag=info] {
            width: 20%; } }
      #content table tbody > tr[tag=party] td[tag=desc] {
        width: 50%;
        /*vorher 60%*/
        text-align: center;
        white-space: pre-line;
        /*My Änderung*/ }
      #content table tbody > tr[tag=party] td[tag=butt] input {
        background-position: center;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat; }
      #content table tbody > tr[tag=party] td[tag=butt][name=info] {
        background-image: url(../img/info.png); }
      #content table tbody > tr[tag=party] td[tag=butt][name=confirm] {
        background-image: url(../img/thumb_up.png); }
      #content table tbody > tr[tag=party] td[tag=butt][name=deny] {
        background-image: url(../img/thumb_down.png); }

/*# sourceMappingURL=home.css.map */
