#notifications {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  width: 60%;
  border-radius: 8px;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  margin-top: 8px;
  overflow-y: scroll;
}

#content {
  grid-area: main;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 10% 30% 35%;
  grid-template-rows: 50% 5% 45%;

  #picture {
    grid-row: 1;
    grid-column: 1;
    margin-top: 5%;
    margin-left: 0%;

    img {
      width: 150px;

      @media (max-device-width: 930px) {
        width: 100px;
      }
    }
  }

  #party_data {
    grid-row: 1;
    grid-column: 2 / 4;
    border-radius: 4px;
    textarea {
      resize: none;
    }

    button {
      border-color: transparent;
      background-color: transparent;
    }

    label {
      display: inline-block;
      width: 15%;
      max-width: 15%;
    }

    input {
      width: 65%;
      padding: 8px 12px;
      display: inline-block;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;
      background-color: #f9f9f9;
    }
    input[type=date] {
      font-family: 'Poppins', sans-serif;
      width: 45%;
    }
    input[type=time] {
      font-family: 'Poppins', sans-serif;
      width: 30%;
    }

    div[tag=segment] {
      margin-top: 1%;
    }

    button {
      margin-top: 1%;
      width: 37%;
      padding: 8px 12px;
      display: inline-block;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #f9f9f9;

      &[tag=maps] {
        width: auto;
        padding: 0;
        line-height: 20px;
        border-color: transparent;
        background-color: transparent;
        img {
          height: 26px;
          width: auto;
          margin-bottom: -9px;
        }
      }
    }
  }

  #party_description {
    grid-row: 1;
    grid-column: 4 / 5;

    textarea {
      width: 90%;
      height: 50%;
    }
  }

  .tab {
    grid-row: 2;
    grid-column: 1 / 5;

    ul {
      margin: 0;
      padding: 0;
      li {
        width: 16%;
        display: inline-block;
        list-style-type: none;
        button {
          padding: 12px 5px;
          border-color: var(--blue);
          border-style: solid;
          border-radius: 8px;
          box-sizing: border-box;
          display: inline-block;
          width: 100%;
          background-color: var(--lightblue);
          &.inactive {
            background-color: var(--lightgrey);
          }
        }
      }
    }
  }

  .tabcontent {
    grid-row: 3;
    grid-column: 1 / 5;
    margin: 0 5%;
    width: 90%;
    &.inactive {
      display: none;
    }

    input {
      width: 65%;
      padding: 8px 12px;
      display: inline-block;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;
      background-color: #f9f9f9;
    }
  }

  table.tabcontent {
    border-collapse: collapse;

    tr[tag=header] {
      margin-bottom: 2%;
      td {
        border-bottom: 2px solid dimgrey;
        padding: 0;
      }
    }
    tr[tag=data] {
      font-size: 14px;
      td {
        input[type=checkbox] {
          transform: scale(1.5);
          margin-left: 4%;
        }

        button[tag=delete] {
          border: 1px solid #dfdfdf;
          border-radius: 4px;
          box-sizing: border-box;
          position: relative;;
          margin-left: 20%;
          background: #8b0000;
          &:hover {
            background: #cc0000;
          }
        }
      }
    }
  }

}