#notifications {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  width: 60%;
  border-radius: 8px;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  margin-top: 8px;
  overflow-y: scroll; }

#content {
  grid-area: main;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 10% 35% 30%;
  grid-template-rows: 20% 40% 40%; }
  #content #picture {
    grid-row: 1;
    grid-column: 1;
    margin-top: 8%;
    margin-left: 3%; }
    #content #picture #imageFrame {
      width: 150px;
      height: 150px;
      white-space: nowrap;
      text-align: center; }
      @media (max-device-width: 930px) {
        #content #picture #imageFrame {
          width: 100px;
          height: 100px; } }
      #content #picture #imageFrame span {
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      #content #picture #imageFrame img {
        vertical-align: middle;
        max-width: 150px;
        max-height: 150px; }
        @media (max-device-width: 930px) {
          #content #picture #imageFrame img {
            max-width: 100px;
            max-height: 100px; } }
    #content #picture button {
      margin-top: 1%;
      width: 150px;
      padding: 8px 12px;
      display: inline-block;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #f9f9f9; }
      @media (max-device-width: 930px) {
        #content #picture button {
          width: 100px; } }
  #content #user_data {
    grid-row: 1 / 3;
    grid-column: 2 / 4;
    padding: 10px;
    margin: 3%;
    border-radius: 4px; }
    #content #user_data input {
      width: 75%;
      padding: 8px 12px;
      display: inline-block;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;
      background-color: #f9f9f9; }
    #content #user_data input[type=date] {
      font-family: 'Poppins', sans-serif; }
    #content #user_data select {
      font-family: 'Poppins', sans-serif;
      width: 75%;
      padding: 8px 12px;
      display: inline-block;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;
      background-color: #f9f9f9; }
    #content #user_data div[tag=value] {
      margin-top: 1%; }
    #content #user_data button {
      margin-top: 1%;
      width: 37%;
      padding: 8px 12px;
      display: inline-block;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #f9f9f9; }
  #content #events_past {
    grid-row: 3;
    grid-column: 1 / 3;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    margin: 2%; }
    #content #events_past table {
      background: white; }
  #content #events_future {
    grid-row: 3;
    grid-column: 3;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    margin: 2%; }
    #content #events_future table {
      background: white; }
  #content #contacts {
    grid-column: 4;
    grid-row: 1 / 4;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 3%;
    border-radius: 4px; }
    #content #contacts #list_contacts {
      padding-left: 10px;
      max-height: 230px;
      min-height: 50px;
      overflow-y: auto;
      list-style-type: none; }
      #content #contacts #list_contacts button {
        width: 10%;
        float: right;
        top: 3px;
        position: relative;
        background: #8b0000; }
        #content #contacts #list_contacts button:hover {
          background: #cc0000; }
    #content #contacts input {
      width: 80%; }
    #content #contacts button {
      width: 15%;
      height: 4%;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #f9f9f9; }

.popup-container .popup[role=search] {
  margin-top: 20em;
  margin-left: 60%;
  width: fit-content;
  max-height: none;
  grid-column: 4; }
  @media (max-device-width: 700px) {
    .popup-container .popup[role=search] {
      margin-left: auto;
      margin-right: 5%; } }
  @media (min-device-width: 700px) and (max-device-width: 1024px) {
    .popup-container .popup[role=search] {
      margin-left: auto;
      margin-right: 17%; } }
  .popup-container .popup[role=search] .popup-buttons {
    --button-width: 40px;
    --button-height: 30px;
    list-style-type: none;
    text-align: right; }
    .popup-container .popup[role=search] .popup-buttons li {
      float: none; }
      .popup-container .popup[role=search] .popup-buttons li a {
        padding-right: 15px; }

.popup-container .popup[role=search] {
  margin-top: 20em;
  margin-left: 60%;
  width: fit-content;
  max-height: none;
  grid-column: 4; }
  @media (max-device-width: 700px) {
    .popup-container .popup[role=search] {
      margin-left: auto;
      margin-right: 5%; } }
  @media (min-device-width: 700px) and (max-device-width: 1024px) {
    .popup-container .popup[role=search] {
      margin-left: auto;
      margin-right: 17%; } }
  .popup-container .popup[role=search] .popup-buttons {
    --button-width: 40px;
    --button-height: 30px;
    list-style-type: none;
    text-align: right; }
    .popup-container .popup[role=search] .popup-buttons li {
      float: none; }
      .popup-container .popup[role=search] .popup-buttons li a {
        padding-right: 15px; }

.popup-container .popup[role=search] {
  margin-top: 20em;
  margin-left: 60%;
  width: fit-content;
  max-height: none;
  grid-column: 4; }
  @media (max-device-width: 700px) {
    .popup-container .popup[role=search] {
      margin-left: auto;
      margin-right: 5%; } }
  @media (min-device-width: 700px) and (max-device-width: 1024px) {
    .popup-container .popup[role=search] {
      margin-left: auto;
      margin-right: 17%; } }
  .popup-container .popup[role=search] .popup-buttons {
    --button-width: 40px;
    --button-height: 30px;
    list-style-type: none;
    text-align: right; }
    .popup-container .popup[role=search] .popup-buttons li {
      float: none; }
      .popup-container .popup[role=search] .popup-buttons li a {
        padding-right: 15px; }

/*# sourceMappingURL=profile.css.map */
