<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <script src="js/rest_util.js"></script>
    <script src="js/login_util.js"></script>
    <script src="js/header.js" defer></script>
    <script src="js/home.js" defer></script>
    <title>Papla - Dein Partyplaner!</title>
</head>

<body class="container">
<header class="header">
    <div id="stripes"></div>
    <div id="navi">
        <ul>
            <li><a href="profile.html">{{name}}</a></li>
            <li>|</li>
            <li>
                <div class="popup">
                    <button @click="showNotifications = !showNotifications">Benachrichtigungen<img
                            src="img/bell_icon.png" alt="Benachrichtigungen"></button>

                    <span class="popuptext" id="myPopup">Sauf Party <br><br> Es wurde eine Abstimmung erstellt <br><br>
                    <input class="tooltip" type="submit" name="Jetzt_ansehen" value="Jetzt ansehen"></span>
                </div>
            </li>
            <li>
                <button @click="logout()">Abmelden<img src="img/login_icon.png" alt="Abmelden"></button>
            </li>
        </ul>
    </div>

    <div id="logo"><img src="img/logo.png" alt="Papla icon"></div>
</header>

<nav class="navigation">
    <div id="bar">
        <a id="bar_home" href="home.html">Home</a>
        <a id="bar_profil" href="profile.html">Profil</a>
        <a id="bar_eigene" href="ownEvent.html">Eigene Veranstaltungen</a>
    </div>
</nav>

<main class="main">
    <div id="content">
        <table id="party_table">
            <tbody>
            <template v-for="(party, index) in parties">
                <tr tag="name">
                    <td colspan=2><a :href="'party.html?id='+party.id">{{ party.name }}</a></td>
                </tr>
                <tr tag="party">
                    <td tag="image">
                        <a :href="'party.html?id='+party.id">
                            <img v-if="party.image" :src="'data:image/jpeg;base64,'+party.image" alt="Party Image">
                            <img v-else src="img/logo.png" alt="Papla icon">
                        </a>
                    </td>

                    <td tag="info">
                        Wer?: {{ party.user }}
                        <br>
                        Wo?: {{ party.location }}
                        <br>
                        Wann?: {{ getPartyTime(party) }}
                    </td>

                    <td tag="desc">
                        {{ party.description }}
                    </td>

                    <td tag="butt">
                        <input type="submit" name="info" value="" style="background-image: url(img/info.png)">
                        <input type="submit" name="confirm" value="" style="background-image: url(img/thumb_up.png)">
                        <input type="submit" name="deny" value="" style="background-image: url(img/thumb_down.png)">
                    </td>
                </tr>
                <tr tag="spacer"></tr>
            </template>
            </tbody>
        </table>
    </div>
</main>

<div class="left">
</div>
<div class="right">
</div>

<footer class="footer">
    <ul>
        <li><a href="kontakt.html">Kontakt</a></li>
        <li><a href="hilfe.html">Hilfe</a></li>
        <li><a href="impressum.html">Impressum</a></li>
    </ul>
</footer>


</body>

</html>
