<!DOCTYPE html>
<html lang="de" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/profile.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <script src="js/rest_util.js"></script>
    <script src="js/login_util.js"></script>
    <script src="js/profile.js" defer></script>
    <title>Papla - Dein Partyplaner!</title>
</head>

<body class="container">
<header class="header">
    <div id="stripes"></div>
    <div id="navi">
        <ul>
            <li>
                <button @click="showNotifications = !showNotifications">Benachrichtigungen<img src="img/bell_icon.png"
                                                                                               alt="Benachrichtigungen">
                </button>
            </li>
            <li><a @click="" href="index.html">Abmelden<img src="img/login_icon.png" alt="Abmelden"></a></li>
        </ul>
    </div>

    <div id="logo"><img src="img/logo.png" alt="Papla icon"></div>
</header>

<nav class="navigation">
    <div id="bar">
        <a id="bar_home" href="home.html">Home</a>
        <a id="bar_profil" href="profile.html">Profil</a>
        <a id="bar_eigene" href="eigeneVeranstaltungen.html">Eigene Veranstaltungen</a>
    </div>
</nav>

<main class="main">
    <div id="content">

        <div id="picture">
            <img src="img/logo.png">
        </div>

        <div id="user_data">
            <div tag="segment">
                <label>Nutzername</label><br>
                <input v-model="name" placeholder="Nutzername" v-bind:readonly="!owner"/>
            </div>
            <div tag="segment" v-if="owner">
                <label>E-Mail</label><br>
                <input v-model="email" readonly/>
            </div>
            <div tag="segment">
                <label>Geburtsdatum</label><br>
                <input type="date" v-model="birthdate" v-bind:readonly="!owner"/>
            </div>
            <div tag="segment">
                <label>Geschlecht</label><br>
                <select name="gender" v-model="gender" v-if="owner"/>
                    <option value=0>Keine Angabe</option>
                    <option value=1>Männlich</option>
                    <option value=2>Weiblich</option>
                    <option value=3>Andere</option>
                </select>
                <input v-model="getLocalizedGender()" v-else/>
            </div>
            <span><button @click="updateProfile" v-if="owner">Profil Speichern</button></span>
            <span><button @click="deleteProfile" v-if="owner">Profil Löschen</button></span>
        </div>

        <div id="contacts">
            <span>
                <label> Kontakte </label>
                <hr>
                <input id="Suche" type="text" value="Suche" v-if="owner"/>
                <button value="add" v-if="owner">+</button>
                <ul id="list_contacts">
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                    <li>Tim Meier</li>
                </ul>
                <label v-if="owner"> Kontaktanfragen </label>
                <ul id="list_contactrequests" v-if="owner">
                </ul>
            </span>
        </div>

        <div id="events_past">
            <span>Vergangene Veranstaltungen</span>
            <ul id="list_events_past">
                <li>Geburtstagpsarty</li>
                <li>Hochzeit Meier</li>
                <li>Sackhüpfen</li>
                <li>Tetris World Championship</li>
            </ul>
        </div>

        <div id="events_future">
            <span>Zukünftige Veranstaltungen</span>
            <ul id="list_events_future">
                <li>Saufparty</li>
                <li>Tims Hammer Party</li>
                <li>Poke Party</li>
            </ul>
        </div>

    </div>
</main>

<div class="left">
</div>
<div class="right">
</div>

<footer class="footer">
    <ul>
        <li><a href="kontakt.html">Kontakt</a></li>
        <li><a href="hilfe.html">Hilfe</a></li>
        <li><a href="impressum.html">Impressum</a></li>
    </ul>
</footer>


</body>

</html>
